doctype html
html
  include head.pug
  
block header
    nav(class="navbar navbar-default")
        div(class="container-fluid")
        p(class="navbar-text")
            a(href="/") Nightlife App 
        a(href="/auth/facebook")
            button(type="button" class="btn btn-default navbar-btn navbar-right") Sign in with Facebook 
                image(src="/img/login-button-png.png")
block body 
    
