.welcome {
    margin: 4% !important;
    margin-top: 6% !important;
}

.landing {
    margin-top: 5% !important;
}

input {
    width: 100% !important;
}

.form-group {
    width: 60% !important;
}

.navbar-btn {
    float: right;
    margin-right: 1%;
}

.greeting {
    width: 60%;
    margin: auto;
}

.bars {
    width: 75px;
    height: auto;
    margin-right: 3%;
}


.address {
    display: block !important;
    margin-bottom: 0px;
}

a, h4, p {
    display: inline;
}

.bar {
    display: inline-block;
    vertical-align: top;
}

#image {
    margin-right: 2% !important;
    padding-top: 0;
    height: 75px;
    width: 75px;
    overflow: hidden;
}

#name, #price {
    margin-right: 10% !important;
}

.main {
    width: 80%;
    margin: auto;
}

#info {
    width: 50%;
}

.rsvp {
    float: right;
    margin-right: 1% !important;
}

li {
    margin-bottom: 2% !important;
    background-color: #c7d1e5 !important;
    border-radius: 10px;
}

body {
    background-color: #eaeff9;
}

span {
    margin-top: .75% !important;
}

a {
    padding: 0 !important;
}